@import './base.css';
* {
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.heading {
  margin-left: 150px;
  margin-right: 150px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(206, 206, 206);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    margin: 2vh;
  }

  #app {
    display: block;
    padding: 0 2rem;
  }
}
